<app-nav></app-nav>
<h1 class="display-4 text-center">Edit Book</h1>   
        <p> </p>
    
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Book Title</label>
                    <input type="text" name="" id="" class="form-control">
                </div>

                <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" type="button">Search</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
